{% extends "layout.html" %}
{% block content %}
	<div class="about_div">
		<div class="why_div">
			<h1> Why Tutor Hunter </h1>
			<p>
			Tutor Hunter is a private tutoring platform that connects students searchig for a tutor with tutors looking to generate additional income.
			</p>
		</div>

		<div class="mission_div">
			<h2>Our mission</h2>
			<p>Established in 2021, Tutor Hunter is constantly looking for ways of transforming the education industry in Ethiopia, growing tutoring businesses, and enabling novel ways of income. Education professionals who are willing to begin private tutoring or upgrade their existing businesses deserve a professional tool carefully tailored for their needs.
			</p>
			<h2> A helping hand </h2>
			<p>Tutor Hunter was built to cater the growing demand for students desiring to boost their educational studies.
			</p>
		</div>
	</div>
{% endblock content %}
